.sp_slider{
  padding: 40px 0;
  background: #fbfbfb;
  .collection__title{
    .link{
      font-size: 18px;
    }
  }

  .main-carousel{
    .carousel-cell{
      width: 80%;
      padding: 10px 15px;
      .product{
        padding: 10px;
        background: #fff;
        border-radius: 20px;
        box-shadow: 0px 0px 7px #0002;
        color: #000;
        img{
          width: 100%;
          height: 100%;
          overflow: hidden;
          border-radius: 20px;
        }
        p{
          font-size: 14px;
        }
        .flavour{
          font-size: 12px;
        }

        .quick-add__submit{
          border-bottom-right-radius: 20px;
          border-bottom-left-radius: 20px;
          color: #000;
          background: #8ff695;
          transition: .5s;
          &::before, &::after{
            display: none;
          }
        }
      }
    }
  }
}


@media all and (min-width: 640px){
  .sp_slider{
    .collection__title{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3rem;

      .title{
        margin-bottom: 0;
      }
    }

    .main-carousel{
      .carousel-cell{
        width: 25%;
      }
    }
  }
}