.sp_slider{
  padding: 40px 0;
  background: #fbfbfb;
  .collection__title{
    .link{
      font-size: 18px;
    }
  }

  .main-carousel{

    .flickity-page-dots{
      padding: 0 .5rem;
      .dot{
        transition: .3s all;
        &.is-selected{
          background: #8ff695;
        }
      }
    }

    &*:focus-visible{
      outline: none;
      box-shadow: none;
    }
    .carousel-cell{
      width: 80%;
      padding: 10px 15px;
      .product{
        padding: 10px;
        background: #fff;
        border-radius: 20px;
        box-shadow: 0px 0px 7px #0002;
        color: #000;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          overflow: hidden;
          border-radius: 20px;
        }

        a.image{
          display: block;
          overflow: hidden;
          border-radius: 20px;
          img{
            transition: .5s;
            position: relative;
          }
          &:hover{
            img{
              transform: scale(1.2);
              filter: brightness(0.9);
            }
          }

        }

        h3{
          font-family: var(--font-body-family);
          font-size: 2rem;
          margin: 10px 0;
        }

        a:not(.image){
          display: inline-block;
          position: relative;
          &:after{
            content: '';
            position: absolute;
            width: 0;
            height: 1px;
            background: #000;
            left: 0;
            bottom: -2px;
            transition: width .3s cubic-bezier(.7,0,.2,1),-webkit-width .3s cubic-bezier(.7,0,.2,1);
          }
          &:hover{
            &::after{
              width: 100%;
            }
          }
        }
        p{
          font-size: 14px;
          line-height: 1.6rem;
        }
        .flavour{
          font-size: 12px;
          margin-top: 25px;
          font-weight: 600;
        }

        .quick-add__submit{
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
          color: #000;
          background: #8ff695;
          transition: .5s;
          &::before, &::after{
            display: none;
          }
          &:hover{
            filter: brightness(0.9);
          }

          &:hover,
          &:focus {
            box-shadow: inset 6.5em 0 0 0 rgba(0,0,0,.5);
          }

          
        }
      }
    }
  }
}


@media all and (min-width: 640px){
  .sp_slider{
    .collection__title{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3rem;

      .title{
        margin-bottom: 0;
      }
    }

    .main-carousel{
      .flickity-page-dots{
        padding: 0 .5rem;
      }

      .carousel-cell{
        width: 25%;
      }
    }
  }
}